@font-face {
    font-family:Gilroy-SemiBold ;
    src: url(./Gilroy-SemiBold.ttf);
}
@font-face {
    font-family:matter-light;
    src: url(./matter-light.ttf);
}
*{ 
Margin:0;
Padding:0;
Box-sizing: border-box;
font-family: Gilroy-SemiBold;
}

html,body{
Width:100%;
Height:100%;
overflow-x: hidden;
}
.main{
    overflow-x: hidden;
    cursor:auto;
}
#loader{
    height: 100%; 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px
 }
 #loader h3{
     font-size: 2vw;
     font-weight: 100;
     text-transform: uppercase;
 }
 #loader span{
    color: #EF495D;
 }
#nav{
    position: fixed;
    width: 100vw;
    display: flex;
    z-index: 6;
    align-items:flex-start;
    justify-content: space-between;
}
.navlogo{
    height:6vw;
    width: 12vw;
    margin-top: 1.5vw;
    /* background-color: black; */
    overflow: hidden;
}
.navlogo img{
    height: 100%;
}
.navlogo .firstlogo{
    height: 9vh;
    margin-bottom: 1vw;
    padding-left: 1vw;
    /* margin-bottom: 1vw; */
}
.navlogo .second{
    padding-left: .7vw;
    height: 12vh;
}
.menu{
    color: #000000;
    background-color:#ef495c3b;
    backdrop-filter: blur(10px);
    font-size: 1.5vw;
    padding: .5vw .5vw;
    border-radius: 2vw 0vw 0vw 2vw ;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9;
    top: 4.1%;
    right: 0%;
}
.menu i{
    font-size: 1.5vw;
    padding-top: .2vw;
    /* padding-left: 1vw; */
    padding-right: .5vw ;
}
.menu h4{
    padding-bottom: .1vw;
    font-weight: 100;
    font-family: matter light;
}
.full{
    height: 100vh;
    width: 100vw;
    background-color:#ffffffa0;
    backdrop-filter: blur(20px);
    position: absolute;
    display: flex;
    align-items: center;
    gap:5vw;
    z-index:99;
    top:0;
    right: -100%;
    padding: 0vw 8vw;
}
.full h4{
    font-size: 3.3vw;
    font-weight: 100;
    font-family: Matter;
    margin-bottom: 1.5vw;
    text-transform: capitalize;
}
.full a{
    color: black;
    text-decoration: none;
}
.full #right h4{
    font-size: 2.3vw;
}
.full a:hover{
    text-decoration: underline;
}
.full i{
    font-size: 2.9vw;
    background-color:#ef495c3b;
    backdrop-filter: blur(10px);
    color: #000000;
    border-radius: 50%;
    font-weight: 100;
    position: absolute;
    top: 4%;
    right: 2%;
    cursor: pointer;
}
.face{
    height: 10vw;
    width: 10vw;
    border-radius: 5vw;
    position: absolute;
    z-index: 7;
    background-color:#ef495c3b;
    backdrop-filter: blur(10px);
    bottom: 1vw;
    right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.facee{
    height: 6vw;
    width: 6vw;
}
.facee img{
    height: inherit;
    width: inherit;
}

.face h5{
    margin-top: -1.2vw;
    
}
.cursor{
    height: 13vw;
    width: 13vw;
    background-color:rgba(210, 210, 210, 0.243);
    opacity: 0;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    position: absolute;
    z-index: inherit;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size: cover;
    transform: translate(-50%,-50%);
    
}
#page1{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 0vw .8vw;
    padding-top: 11vh;
    /* background-color: aqua; */
}
#page1 h1{
    font-size: 1.5vw;
    font-weight: 900;
    text-transform: capitalize;
    /* padding-bottom: 1vw; */
}
#page1 video{
    width: 98.5vw;
    height:90vh;
    object-fit: cover;
}
#page2{
    min-height:fit-content;
    width: 100%;
    /* background-color: rgb(114, 114, 251); */
}
#move{
    /* margin-top: 5.5vw; */
    padding: 2vw 0vw;
    display: flex;
    /* background-color: #d8ff04; */
    background-color:#f9f9f9 ;
    overflow: hidden;
}
.marq{
    flex-shrink: 0;
    /* height: 15vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
}
.marq img{
    height: 3vw;
}
.marq h1{
    text-transform: uppercase;
}

#page2 #move span{
    text-transform: uppercase;
    color:#EF495D;
}
#page2 .heading h1{
    font-size: 3vw;
    padding: 2vw 8vw;
}
#page2 .heading span{
    text-transform: uppercase;
    color:#EF495D;
}
#page2 .words{
    padding: 0vw 8vw;
}
#page2 .words p span{
    font-family:matter-light;
    color: #afafaf;
    font-size:2vw;
    font-weight: 100;
}
#page3{
    height:fit-content;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items:center;
    /* padding-top: 2vw;
    padding: 0vw 8vw; */
}
.back{
    margin-top: 4vh;
}
.back img{
    height:90vh;
    width: 85vw;
    /* padding-top: 10vh; */
    object-fit: cover;
}
.page4{
    margin-top: 3vw;
    height: fit-content;
    width: 100%;
    /* background-color: crimson; */
}
.page4 .head h1{
    height: 10vh;
    /* background-color: blue; */
    font-size: 3vw;
    padding: 0vw 8vw;
}
.page4 .head h1 span{
    color: #EF495D;
}
.page4 #schools{
    padding: 0vw 8vw;
}
.page4 #schools .box img{
    height: 30vh;
    width: 50vh;
    object-fit: cover;
    border-radius:1vw;
    opacity: 0;
    scale: 0;
}
.box a {
    color: #000000;
    text-decoration: none;
    /* font-size: 1.5vw; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vw;
    padding: 0vw 2vw;
    border-top: 1.5px solid rgb(53, 53, 53);
    transition: background-color 0.1s ease, color 0.3s ease;
}
.box a h3{
    font-size: 2vw;
}
.box a h4{
    color: #6f6f6f;
}
.box a:hover {
    color:#EF495D;
    background-color:#ef495c3b;
    backdrop-filter: blur(10px);
}
.box:nth-last-child(1){
    border-bottom: 1.5px solid rgb(53, 53, 53);
}
.rank{
    margin-top: 3vw;
    /* background-color: crimson; */
}
.rank h1{
    font-size: 3vw;
    padding: 0vw 8vw;
}
.rank h1 span{
    color: #EF495D;
}
#moving{
    margin: 3vw 0vw;
    display: flex;
    position: relative;
    overflow: hidden;
    white-space: nowrap;

}
#movee{
    display: flex;
    align-items: center;
    animation-name: mobs;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* overflow: hidden; */
}
#movee img{
    height: 13vw;
}
@keyframes mobs {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
#blurl{
    height:100%;
    width: 50%;
    background:linear-gradient(to left,transparent,#ffffff);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
#blurr{
    height:100%;
    width: 50%;
    background:linear-gradient(to left,#ffffff,transparent);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.page5{
    height: 100vh;
    width: 100vw;
}
.page5 h1{
    color: #000000;
    font-size: 3vw;
    padding: 0vw 8vw;
}
.page5 h1 span{
    color:#EF495D;
}
.page5 .words{
    padding: 0vw 8vw;
    padding-top: 2vw;
}
.page5 .words p span{
    font-family:matter-light;
    color: #afafaf;
    font-size:2vw;
    font-weight: 100;
}
.page5 .swiper{
    height: 80vh;
    width: 85vw;
}
.page5 .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}
.page5 .swiper-slide .in{
    height: 75%;
    width: 100%;
    background-color:#ef495c3b;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
}
.page5 .swiper-slide .in .leftt{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page5 .swiper-slide .in .leftt h2{
    font-size: 2.5vw;
}
.page5 .swiper-slide .in .leftt h2 span{
    font-size: 2.5vw;
    color: #EF495D;
}
.page5 .swiper-slide .rightt {
    width: 80%;
    height: 100%;
}
.page5 .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page5 .swiper-slide p{
    font-size: 2vw;
}
.page5 .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    background:#EF495D; /* Color for active dynamic bullet */
}
.page6{
    margin-top: 3vw;
    /* background-color: aquamarine; */
    height: 100vh;
    width: 100vw; 
    padding: 2vw 8vw;  
}
.page6 h1{
    font-size: 3vw;
}
.page6 h1 span{
    color: #EF495D;
}
.page6 .words{
    padding-top: 1.5vw;
}
.page6 .words p span{
    font-family:matter-light;
    color: #afafaf;
    font-size:2vw;
    font-weight: 100;
}
.page7{
    height: 100vh;
    width: 100vw; 
    /* background-color: #EF495D; */
    padding: 0vw 8vw;  
}
.page7 h1{
    font-size: 3vw;
}
.page7 h1 span{
    color: #EF495D;
}
.page6 .swiper {
    width: 100%;
    height: 100%;
  }

  .page6 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page6 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .page6 .swiper-slide {
    width: 60%;
  }

  .page6 .swiper-slide:nth-child(2n) {
    width: 40%;
  }

  .page6 .swiper-slide:nth-child(3n) {
    width: 20%;
  }














@media (max-width: 600px){
    body{
        Width:100%;
        Height:100%;
        overflow-x: hidden;
    }
    #loader{
        height: 100vh; 
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 99;
        color: white;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:10px;
        overflow: hidden;
     }
     #loader h3{
        font-size: 2vh;
        font-weight: 100;
        text-transform: uppercase;
    }
    #loader span{
       color: #EF495D;
    }
    #nav{
        position: fixed;
        width: 100vw;
        display: flex;
        z-index: 6;
        align-items:flex-start;

        height: 9vh;
        padding-left: 2vw ;
        padding-top: .5vh;
        justify-content: space-between;
    }
    .navlogo{
        height:15vw;
        width: 15vh;
        margin-top: 1.5vw;
        /* background-color: black; */
        overflow: hidden;
    }
    .navlogo img{
        height: 100%;
    }
    .navlogo .firstlogo{
        height: 12vw;
        margin-bottom: 1vw;
        padding-left: 1vw;
        /* margin-bottom: 1vw; */
    }
    .navlogo .second{
        padding-left: .7vw;
        height:0vh;
    }
    .menu{
        color: #000000;
        background-color:#ef495c3b;
        backdrop-filter: blur(10px);
        font-size: 1.5vw;
        padding: .5vw .5vw;
        border-radius: 2vh 0vw 0vw 2vh ;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 9;
        top: 2.5%;
        right: 0%;
    }
    .menu i{
        font-size: 2vh;
        padding-top: .2vw;
        /* padding-left: 1vw; */
        padding-right: .5vw ;
    }
    .menu h4{
        padding-bottom: .1vw;
        font-size: 2vh;
        font-weight: 100;
        font-family: matter light;
    }

    #page1{
        min-height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        padding: 0vw .8vw;
        padding-top: 11vh;
        /* background-color: aqua; */
    }
    #page1 h1{
        font-size: 2vh;
        font-weight: 900;
        text-transform: capitalize;
        /* padding-bottom: 1vw; */
    }
    #page1 video{
        width: 98.5vw;
        height:90vh;
        object-fit: cover;
    }
    #page2{
        min-height:fit-content;
        width: 100%;
        /* background-color: rgb(114, 114, 251); */
    }
    #move{
        /* margin-top: 5.5vw; */
        padding: 2vw 0vw;
        display: flex;
        /* background-color: #d8ff04; */
        background-color:#f9f9f9 ;
        overflow: hidden;
    }
    .marq{
        flex-shrink: 0;
        /* height: 15vh; */
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
    }
    .marq img{
        height: 4.5vh;
    }
    .marq h1{
        text-transform: uppercase;
    }
    #page2 #move span{
        text-transform: uppercase;
        color:#EF495D;
    }
    #page2 .heading h1{
        font-size: 3vh;
        padding: 2vw 8vw;
    }
    #page2 .heading span{
        text-transform: uppercase;
        color:#EF495D;
    }
    #page2 .words{
        padding: 0vw 8vw;
    }
    #page2 .words p span{
        font-family:matter-light;
        color: #afafaf;
        font-size:2vh;
        font-weight: 100;
    }
    #page3{
        height:fit-content;
        width: 100vw;
        display:flex;
        justify-content: center;
        align-items:center;
        /* padding-top: 2vw;
        padding: 0vw 8vw; */
    }
    .back{
        margin-top: 4vh;
    }
    .back img{
        height:50vh;
        width: 85vw;
        object-position: center;
        /* padding-top: 10vh; */
        object-fit: cover;
    }
    .page4{
        margin-top: 3vw;
        height: fit-content;
        width: 100%;
        /* background-color: crimson; */
    }
    .page4 .head h1{
        height: fit-content;
        margin-bottom: 5vw;
        /* background-color: blue; */
        font-size: 3vh;
        /* padding: 0vw 8vw; */
    }
    .page4 .head h1 span{
        color: #EF495D;
    }
    .page4 #schools{
        padding: 0vw 8vw;
    }
    .page4 #schools .box img{
        height: 0vh;
        width: 0vh;
        object-fit: cover;
        border-radius:1vw;
        opacity: 0;
        scale: 0;
    }
    .box a {
        color: #000000;
        text-decoration: none;
        /* font-size: 1.5vw; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5vh;
        padding: 0vw 2vw;
        border-top: 1.5px solid rgb(53, 53, 53);
        transition: background-color 0.1s ease, color 0.3s ease;
    }
    .box a h3{
        font-size: 2vh;
    }
    .box a h4{
        font-size: 0vw;
        color: #6f6f6f;
    }
    .box a:hover {
        color:#EF495D;
        background-color:#ef495c3b;
        backdrop-filter: blur(10px);
    }
    .box:nth-last-child(1){
        border-bottom: 1.5px solid rgb(53, 53, 53);
    }
    .rank{
        margin-top: 3vh;
        /* background-color: crimson; */
    }
    .rank h1{
        font-size: 3vh;
        padding: 0vw 8vw;
    }
    .rank h1 span{
        color: #EF495D;
    }
    #moving{
        margin: 3vw 0vw;
        display: flex;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
    
    }
    #movee{
        display: flex;
        align-items: center;
        animation-name: mobs;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        /* overflow: hidden; */
    }
    #movee img{
        height: 13vh;
    }
    .page5{
        height: fit-content;
        width: 100vw;
    }
    .page5 h1{
        color: #000000;
        font-size: 3vh;
        padding: 0vw 8vw;
    }
    .page5 h1 span{
        color:#EF495D;
    }
    .page5 .words{
        padding: 0vw 8vw;
        padding-top: 2vw;
    }
    .page5 .words p span{
        font-family:matter-light;
        color: #afafaf;
        font-size:2vh;
        font-weight: 100;
    }
    .swiper{
        height: 70vh;
        width: 85vw;
    }
    .swiper-slide {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .swiper-slide .in{
        height: 50vh;
        width: 100%;
        background-color:#ef495c3b;
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .swiper-slide .in .leftt{
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-slide .in .leftt h2{
        font-size: 2.5vh;
    }
    .swiper-slide .in .leftt h2 span{
        font-size: 2.5vh;
        color: #EF495D;
    }
    .swiper-slide .rightt {
        width: 100%;
        height: 100%;
    }
    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .swiper-slide p{
        font-size: 2vh;
    }
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
        background:#EF495D; /* Color for active dynamic bullet */
    }
    .page6{
        margin-top: 3vw;
        /* background-color: aquamarine; */
        height: 100vh;
        width: 100vw; 
        padding: 2vw 8vw;  
    }
    .page6 h1{
        font-size: 3vh;
    }
    .page6 h1 span{
        color: #EF495D;
    }
    .page6 .words{
        padding-top: 1.5vh;
    }
    .page6 .words p span{
        font-family:matter-light;
        color: #afafaf;
        font-size:2vh;
        font-weight: 100;
    }
}